          'certifi',
          'charset-normalizer',
          'cycler',
          'fonttools',
          'idna',
          'joblib',
          'kiwisolver',
          'matplotlib',
          'nbeats-forecast',
          'nbeats-pytorch',
          'numpy',
          'packaging',
          'pandas',
          'Pillow',
          'pyparsing',
          'python-dateutil',
          'pytz',
          'requests',
          'scikit-learn',  
          'scipy',
          'six',
          'sklearn', 
          'threadpoolctl',
          'torchvision',
          'torch',